# Ignore Gradle project-specific cache directory
.gradle/
.theia/
.yarn/
.yarnrc
yarn.lock

# Ignore Gradle build output directory
build
.idea/
local.properties
apiDiff.api
public/
node_modules
*.log
