name: Check
defaults:
  run:
    shell: bash

on:
  pull_request:
    branches:
      - '**'
  workflow_dispatch:
  workflow_call:

env:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

jobs:
  check:
    name: Check on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11

      - name: Restore Gradle cache
        id: cache
        uses: actions/cache@v2.1.7
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ~/.gradle/yarn
            ~/.gradle/nodejs
            ~/.konan
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: ${{ runner.os }}-gradle-

      - name: Gradle Check
        run: ./gradlew check --scan

      - name: Gradle Assemble
        run: ./gradlew assemble --scan

      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: reports-${{ runner.os }}
          path: |
            **/build/reports

      - name: Gradle Check Sandbox
        working-directory: sandbox
        run: ./gradlew check --scan

      - name: Gradle Assemble
        working-directory: sandbox
        run: ./gradlew assemble pack --scan

      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: sandbox-${{ runner.os }}
          path: |
            sandbox/**/build/reports
            sandbox/**/build/publications

      - name: ts-consumer Install
        working-directory: sandbox/ts-consumer
        run: yarn install

      - name: ts-consumer Build
        working-directory: sandbox/ts-consumer
        run: yarn build

      - name: ts-consumer Run
        working-directory: sandbox/ts-consumer
        run: yarn start

      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: ts-consumer-${{ runner.os }}
          path: |
            sandbox/ts-consumer/build
            sandbox/ts-consumer/node_modules/@mpetuska
