name: Deploy Pages

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Deploy version"
        required: true
        type: string
  workflow_call:
    inputs:
      version:
        description: "Deploy version"
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11
      - name: Restore Gradle cache
        id: cache
        uses: actions/cache@v2.1.7
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ~/.gradle/yarn
            ~/.gradle/nodejs
            ~/.konan
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: ${{ runner.os }}-gradle-
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - uses: actions/checkout@v2
      - run: |
          pip install mkdocs-material mike
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
      - run: ./gradlew :npm-publish-docs:mikeDeploy -Pversion='${{ inputs.version }}'
